.btn {
  &-primary {
    cursor: pointer;
    background: none;
    border: 1px solid $color-grey-light;
    border-radius: $border-radius;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    color: $color-grey-dark;
    padding: 1.25rem 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      border: 1px solid $color-grey-dark;
    }

    svg {
      display: block;
      width: 1.8rem;
      margin-right: 1rem;
      stroke: $color-grey-dark;
    }
  }
}
