#content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: $gap-large;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 1fr;
    grid-gap: $gap-small;
  }
}
