// COLORS
$color-primary: #4fa7ff;

$color-grey-lightest: #f9f9f9;
$color-grey-light: #c5cdd3;
$color-grey-dark: #8e979e;

$color-white: #fff;
$color-text: #333;

// BREAKPOINTS
$bp-large: 57.5em; // 920px
$bp-medium: 42.5em; // 680px
$bp-small: 22.5em; // 360

// GAPS
$gap-small: 1.5rem;
$gap-large: 5rem;

// BORDER
$border-radius: 5px;
